/* Reset some default browser styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444; /* Slightly lighter container background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff; /* Light text color */
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

/* Style checkboxes for the checklist */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Style links */
a {
    text-decoration: none;
    color: #00a2e8; /* Accent color */
    transition: color 0.3s;
}

a:hover {
    color: #0080c5; /* Darker accent color on hover */
}

/* Style the "Act" as a heading in black */
#checklist > li {
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-bottom: 20px; /* Add spacing between acts */
}

/* Style the areas items in off-white text */
#checklist ul li {
    font-size: 20px;
    color: #0fb4bf; /* Off-white color */
    padding-left: 20px; /* Indent the areas */
}

/* Style the area text in blue with varying size */
#checklist ul ul li {
    color: #f0f0f0;
    font-weight: normal;
    font-size: 16px; /* Adjust the font size as needed */
    padding-left: 40px; /* Indent more */
    /* You can add more styles as needed */
}

/* Style the area-checklist to appear as columns */
.area-checklist {
    list-style-type: none;
    display: block; /* Display checklist items as a block */
}

/* Style the area-checklist items within columns */
.area-checklist li {
    margin: 5px 0;
    color: #ccc; /* Very light gray color for checklist items */
    font-weight: normal; /* Remove bold from checklist items */
    flex: 1; /* Distribute items evenly within columns */
}

/* Style the page container */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make sure the container spans the full viewport height */
}

/* Center the footer */
footer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: auto; /* Push the footer to the bottom of the container */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Define styles for smaller screens here */
    /* For example, you can make the "Act" headings stack on top of each other */
    #checklist > li {
        margin-bottom: 10px; /* Adjust spacing between stacked "Act" headings */
    }
}

.hidden {
    display: none;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
